NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SECRET_KEY=

NGENIUS_API_KEY=
NGENIUS_OUTLET_ID=
NGENIUS_IDENTITY_URL=https://api-gateway.ngenius-payments.com/identity/auth/access-token
NGENIUS_GATEWAY_URL=https://api-gateway.ngenius-payments.com
